<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/index.css">
<title>HealthApp</title>
</head>
<body>

<!-- Navbar goes here -->

<nav class="navbar navbar-dark bg-primary color">

    <a class="navbar-brand" id="logo" href="/">Health App</a>

    <div class="d-flex">
        <a class="nav-link active" id="login" href="login">Login</a>
        <a class="nav-link active" id="signup" href="signup">Sign Up</a>
    </div>

</nav>

<hr>

<section id="flip-box">
    <h1 class="py-4">Appointments</h1>
    <div class="wrapper">
        <table class="stock-table">
            <tr class="heading">
                <th>Name</th>
                <th>Description</th>
                <th>Doctor</th>
                <th>Date</th>
            </tr>

        {% for apt in data %}
            <tr class="data">
                <td>{{ apt.Name }}</td>
                <td>{{ apt.Description }}</td>
                <td>$ {{ apt.Doctor }}</td>
                <td>{{ apt.Date }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</section>

<!-- Body goes here -->

<img class="rounded mx-auto d-block" src="../static/hospital.jpeg" alt="hospital image" id="main">

<!-- Footer goes here -->

<footer class="navbar-dark bg-primary text-center text-lg-start p-3" id="footer">
    <div class="text-center " style="color: aliceblue;">
      © 2021 Copyright:
      <a class="" href="#" style="color: aliceblue;">Health App</a>
    </div>

  </footer>

</body>
</html>